
body{
    background: #ffe259;
    background: linear-gradient(to right, #cccbcb,#ffffff);
}


.bg{
    background-image: url(https://getwallpapers.com/wallpaper/full/e/b/6/1490204-full-size-nike-shoe-wallpaper-1920x1200.jpg);
    background-position:  center center;
}