.me-sm-2 {
    margin: 0 .5rem; 
}

.mt-5 {
    margin-top: 1.5rem !important;
}

.mt-4 {
    margin-top: 0.75rem !important;
}

.mb-5 {
    margin-bottom: 1rem !important;
}

.table td, .table th {
    padding: .75rem; 
;
}

.form-select {
    padding: .75rem 3rem .75rem 1rem;
}

hr {
    margin: .5rem 0;
}

.login_container {
    width: 100vw !important;
    padding-top: 40px;
    padding-bottom: 40px;
}

.sidebar_container {
    width: 250px;
}

.input-venta, .select-venta {
    width: 240px !important;
}

.container {
    padding-left: 0;
}

